@model Task9.TaskViewModels.GroupViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Groups</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Groups" asp-action="Index" method="get">
    <p>
        <select asp-for="GroupCourse" asp-items="Model.Courses">
            <option value="">All</option>
        </select>

        Search:
        <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
        <input asp-action="ClearFilter" type="submit" value="Clear" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Groups[0].GroupName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Groups[0].CourseName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Groups) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GroupName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseName)
        </td>

        <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
            <a asp-action="ViewStudents" asp-route-groupName="@item.GroupName">View Students</a>
        </td>
    </tr>
}
    </tbody>
</table>
